html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#display{
    width: 100vmin;
    height: calc(100vmax - 100vmin);
}

#display .display-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
}
#display .display-container .display-header{
    flex-shrink: 1;
}
#display .display-container .display-body{
    height: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
}
#display .display-container .display-body .display-body-group{
    height: 100%;
    flex-grow:1;
    flex-shrink: 1;
    position: relative;
}
#display .display-container .display-body .display-body-group.active{
    background-color: rgba(0,0,0,0.125);
}

#keyboad {
    width: 100vmin;
    height: 100vmin;
    box-sizing: border-box;
}

#keyboad .keyboad-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 20vmin;
    box-sizing: border-box;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
}

#keyboad .keyboad-row .keyboad-col {
    width: 20%;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1px;
}

#keyboad .keyboad-row .keyboad-col .key{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0,0, 0.125);
}

.layout-teble {
    display: table;
    height: 100%;
    width: 100%;
}

.layout-teble .teble-cell {
    display: table-cell;
}

.layout-teble .teble-cell.vm {
    vertical-align: middle;
}

.display-input-groups{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    box-sizing: border-box;
}
