html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#display {
    width: 100vmin;
    height: calc(100vmax - 100vmin);
}

#keyboad {
    width: 100vmin;
    height: 100vmin;
}

#keyboad .keyboad-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 20vmin;
}

#keyboad .keyboad-row .keyboad-col {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0,0, 0.125);
}

.teble {
    display: table;
    height: 100%;
    width: 100%;
}

.teble .teble-cell {
    display: table-cell;
}

.teble .teble-cell.vm {
    vertical-align: middle;
}
